.header1 .button{
	border: 1px solid rgb(132, 148, 170);
	border-radius: 25px;
	height: 38px;
	width: 180px;
	margin-left: -30px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	font-size: 17px;
	margin-top: 10px;
	display: inline-block;
	background-color: rgba(255, 0, 0, 0);
}
.header1 .button:hover{
	background-color: rgb(136, 141, 199);
}
.header1 .block-image-text{
	margin-top: 12px;
}
.header1 .graphic{
	color: white; 
	font-size: 22px; 
}
.header1 .text1{
	margin-top: 19px; 
	color: rgb(195, 210, 230); 
	font-size: 16px;
}

.header1 .basics{
	float: right;
	margin-top: 10px;
}
.header1{
	background: rgb(103, 114, 129);
	min-height: 60px;
}
.header2{
	background: #d8e2e8;
	min-height: 87px;
}
.header2 .block_padding{
	padding-left: 0; 
	padding-right: 0;
}
.header2 .text{
	margin-top: 10px;
}
.header2 .text_area{
	width: 100%;
	height: 150px;
}
.header2 .button1{
	border: 1px solid #aeb3c1;
	border-radius: 25px; 
	height: 40px;  
	padding: 7px; 
	font-size: 14px;
	color: white;
	margin-top: 23px;
	padding-right: 5%;
	padding-left: 5%;
	background-color: rgb(166, 0, 21);
}
.header2 .button1:hover{
	background-color: rgb(103, 34, 42);
}
.header2 .but{
	border: 1px solid #aeb3c1;
	border-radius: 25px; 
	height: 40px;  
	padding: 7px; 
	font-size: 14px; 
	margin-top: 23px;
	padding-right: 5%;
	padding-left: 5%;
	background-color: #d8e2e8;
}
.header2 .but:hover{
	background-color: #c3e3f7;
}
.header2 .button2{
	border: 2px solid #747b8c;
	border-radius: 25px;
	height: 38px;  
	padding: 7px; 
	font-size: 14px; 
	color: black;
	margin-top: 23px;
	padding-right: 5%;
	padding-left: 5%;
	background-color: rgba(255, 0, 0, 0);
}
.header2 .button2:hover{
	background-color: #8ea7e4;
}
.header2 .modal_text{
	text-align: right;
}
.header2 .select1 {
	width: 45px;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	background: transparent;
	padding: 5px;
	font-size: 14px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	color: white;
}
@-moz-document url-prefix() {
    .header2 .select1 {padding:3px;}
}
.header2 .styled-select1{
	float: right;
	width: 42px;
	height: 42px;
	overflow: hidden;
	background: url(img/select_arrow_white.png) no-repeat right rgb(103, 114, 129);
	border: 0;
	border-radius: 25px;
	margin-top: 20px;
	padding-top: 7px;
}
#btn11{
	position: absolute; 
	top: 0; 
	width: 30px; 
	height: 20px; 
	background-color: rgb(103, 114, 129); 
	right: 0; 
	display: none; 
	color: white; 
	text-align: center;
}
.header2 .select2{
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	background: transparent;
	font-size: 19px;
	line-height: 1;
	padding: 5px;
	border: 0;
	background-color: rgba(255, 0, 0, 0);
	width: 165px;

}
.header2 .styled-select2{
	font-size: 19px;
	border: 0;
	overflow: hidden;
	background: url(img/down.png) no-repeat right rgba(255, 0, 0, 0);
	margin-top: 30px;
	width: 165px;
}
.header3{
	min-height: 77px;
}
.header3 .menu{
	background: white; 
	border: 0;
}
.header3 .nav_head{
	padding: 0; 
	min-height: 95px;
}
.header3 .col{
	padding: 0; 
	z-index: 100; 
	background-color: white;
}
.header3 .nav_col{
	padding: 0;
}
.header3 .nav_nav{
	margin: 0 auto;
}
.header3 .logo{
	margin-top: 9px;
	width: 100%;
	max-width: 195px;
}
.header3 .menu_el{
	margin-top: 18px; 
	font-size: 15px;
	text-align: center;
	border-left: 1px solid rgb(232, 238, 240);
	color: black;
	height: 45px;
}
.header3 .menu_el a {
	color: black;
}
.header3 .no_border{
	border: 0;
}
.header4{

}
.header4 .img1{
	padding-left: 0;
	padding-right: 7px;
}
.header4 .img1-bg{
	background: url(img/plain.png); 
	height: 498px; 
	background-size: cover;
}
.header4 .img1_1-bg{
	background: url(img/klava.png); 
	height: 498px; 
	background-size: cover;
}
.header4 .img1_2-bg{
	background: url(img/klava1.png);  
	height: 498px; 
	background-size: cover;
}
.header4 .text{
	height: 116px; 
	padding-top: 200px;
}
.header4 .text1{
	color: white; 
	text-align: center;
	font-size: 15px;
}
.header4 .text1_1{
	font-size: 35px;
}
.header4 .button1{
	color: white; 
	font-size: 16px;
	background: rgb(166, 0, 21); 
	border-radius: 25px; 
	height: 43px;
	border: 0;
	margin-top: 50px;
}
.header4 .button1:hover{
	background: rgb(144, 60, 70); 
}
.header4 .img2{
	padding-left: 0;
	padding-right: 0;
}
.header4 .img2-bg{
	background: url(img/klava.png); 
	height: 245px; 
	background-size: cover;
}
.header4 .text2{
	height: 129px; 
	color: white; 
	padding-top: 60px;  
	font-size: 21px;
	text-align: center;
}
.header4 .text2_1{
	font-size: 27px;
}
.header4 .text_img1{
	background: rgb(166, 0, 21);
	height: 32px;
	width: 32px;
	border-radius: 25px;
	border: 0;
	margin-top: 18px;
}
.header4 .image{
	margin-top: -3px;
}
.header4 .text_img1:hover{
	background: rgb(144, 60, 70);
}
.header4 .img3-bg{
	background: url(img/klava1.png); 
	height: 247px; 
	background-size: cover; 
	margin-top: 6px;
}
.header4 .text3{
	height: 101px;
	color: white; 
	padding-top: 96px;
	text-align: center;
}
.header4 .text3_1{
	font-size: 27px;
}
.header4 .text3_2{
	font-size: 18px; 
	margin-top: 12px;
}
.content1{
	min-height: 97px;
}
.content1 .text1{
	font-size: 29px;
	border-bottom: 1px solid rgb(220, 220, 220); 
	padding-top: 25px;
	min-height: 87px;
	padding-left: 0;
}
.content1 .calc{
	height: 315px; 
	margin-top: 25px;
}
.content1 .param{
	height: 48px;
}
.content1 .line{
	height: 19px;
}
.content1 .line1{
	background-color: rgb(73, 81, 102); 
	height: 3px; 
	width: 41px;
}
.content1 .line2{
	border-bottom: 1px solid rgb(220, 220, 220); 
	width: 223px; 
	margin-top: -2px;
}
.content1 .selection{
	height: 54px;
}
.content1 .from_whence{
	margin-top: 11px; 
	font-size: 15px;
	white-space: nowrap;
}
.content1 .from_whence1{
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	background: transparent;
	height: 43px; 
	width: 208px; 
	font-size: 14px; 
	border: 0;
	margin-left: 10px;
}
.content1 .styled-from_whence1{
	overflow: hidden;
	background: url(img/down.png) no-repeat right white;
	height: 43px; 
	width: 208px; 
	font-size: 14px; 
	border-radius: 25px;
	border: 1px solid grey;
}
.content1 .kg{
	height: 43px; 
	width: 208px; 
	font-size: 14px; 
	border: 1px solid grey; 
	border-radius: 25px; 
	padding: 10px;
}
.content1 .day{
	height: 43px; 
	width: 104px; 
	font-size: 14px; 
	padding: 10px;
	padding-left: 13px;
	border: 1px solid rgb(157, 157, 157); 
	border-radius: 25px;
}
.content1 .text-border{
	height: 43px; 
	width: 104px; 
	font-size: 14px; 
	padding: 10px;
	padding-left: 19px;
	border: 1px solid rgb(157, 157, 157); 
	border-radius: 25px;
}
.content1 .circle_a{
	height: 20px; 
	width: 20px; 
	background-color: rgb(166, 0, 21);
	border-radius: 25px;
	padding: 2px;
	padding-left: 6px;
	font-size: 13px;
	color: white;
	display: inline-block;
	position: absolute;
	top: -8px;
}
.content1 .circle_a:hover ~ #vznos{
	display: block;
}

#vznos{
	height: 49px;
	width: 196px;
	box-shadow: 0 2px 10px grey;
	border: 1px solid #ffffff;
	border-radius: 15px;
	font-size: 13px;
	padding: 5px;
	padding-left: 30px;
	display: none;
	position: absolute;
	left: 150px;
	top: -3px;
	background-color: white;
	z-index: 10;
}
.red_text{
	color: rgb(166, 0, 21);
}
.content1 .text{
	min-height: 38px; 
	text-align: center; 
	color: rgb(103, 103, 103); 
	font-size: 17px;
	border-bottom: 1px solid rgb(220, 220, 220);
	margin-bottom: 30px;
}
.content2 .text_button{
	min-height: 132px;
}
.tac {
	text-align: center;
}
.content2 .text2{
	color: black; 
	font-size: 19px;
}
.content2 .text3{
	border-radius: 25px; 
	background: rgb(166, 0, 21);
	border: 0;
	min-height: 47px; 
	width: 215px; 
	font-size: 16px;  
	color: rgb(250, 244, 244);  
	margin-top: 15px;
}
.content2 .text3:hover{
	background: rgb(136, 34, 34);
}
.content2 .text4{
	border-radius: 25px; 
	background: rgb(183, 191, 193); 
	border: 0;
	min-height: 47px; 
	width: 236px; 
	font-size: 16px; 
	color: black; 
	margin-top: 15px;
}
.content2 .text4:hover{ 
	background: rgb(65, 96, 138); 
}
.content2 .bg{
	min-height: 166px;
	background-color: rgb(206, 213, 215);
}
.content2 .text5{
	height: 27px; 
	font-size: 15px; 
	margin-top: 32px;
}
.content2 .select1{
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	background: transparent;
	height: 43px; 
	width: 100%; 
	font-size: 17px; 
	border-radius: 25px;
	border: 0;
	padding: 5px;
}
.content2 .styled-select1{
	overflow: hidden;
	background: url(img/down.png) no-repeat right white;
	background-color: rgb(206, 213, 215); 
	height: 43px; 
	width: 100%; 
	font-size: 17px; 
	border-radius: 25px;
	border: 1px solid rgb(157, 157, 157);
}
.content2 .dll{
	background: 0;
	min-height: 43px; 
	width: 100%;
	text-align: center; 
	font-size: 14px; 
	color: rgb(88, 94, 96); 
	border: 1px solid rgb(157, 157, 157); 
	border-radius: 25px;   
	margin-top: 58px;
}
.content2 .img1{
	margin-top: 70px;
}
.content2 .image_3{
	position: fixed; 
	right: 0px; 
	width: 162px;
	z-index: 110;
	top: 30%;
}
.content2 .image_one{
	background-color: rgb(103, 114, 129); 
	height: 54px; 
	width: 54px; 
	border: 0;
	position: relative; 
	left: 108px;
	padding: 12px;
}
.content2 .image_one:hover{
	background-color: rgb(65, 96, 138); 
}
.content2 .image_two{
	background-color: rgb(103, 114, 129); 
	height: 54px; 
	width: 54px; 
	border: 0;
	margin-top: 3px; 
	position: relative; 
	left: 108px;
	padding: 11px;
	padding-left: 3px;
	padding-left: 15px;
}
.content2 .image_two:hover{
	background-color: rgb(65, 96, 138); 
}
.content2 .image_tree{
	background-color: rgb(166, 0, 21); 
	height: 55px; 
	width: 162px; 
	border: 0;
	font-size: 14px; 
	color: rgb(255, 255, 255); 
	margin-top: 3px;
	padding: 12px;
	padding-left: 22px;
}
.content2 .image_tree:hover{
	background-color: rgb(136, 34, 34); 
}
.content3{
	background-color: rgb(234, 234, 234); 
	min-height: 642px; 
	margin-top: 25px;
}
.content3 .big_text{
	font-size: 30px; 
	text-align: center; 
	margin-top: 57px;
}
.content3 .little_text{
	color: rgb(146, 146, 146); 
	font-size: 14px; 
	margin-top: 35px;
}
.content3 .indent{
	margin-top: 55px;
}
.content3 .height_block{
	height: 80px;
}
.content3 .picture{
	float: left;
}
.content3 .text{
	color: rgb(98, 98, 98); 
	font-size: 16px; 
	margin-left: 10px; 
	margin-top: 5px; 
	float: left;
}
.content3 .button{
	background-color: rgb(103, 114, 129); 
	border-radius: 25px; 
	min-height: 47px; 
	width: 186px; 
	color: white; 
	font-size: 16px; 
	padding: 13px; 
	padding-left: 22px;
	border: 0;
}
.content3 .button:hover{
	background-color: rgb(65, 90, 123); 
}
.content3 .image{
	margin-left: 5px;
}
.content4 .big_text{
	height: 54px; 
	font-size: 28px; 
	margin-top: 46px;
}
.context4 .height{
	height: 216px;
}
.content4 .bg_text{
	text-align: center; 
	float: left;
}

.content4 .bg_text:hover > .bg_rectangle{
	display: block;
}
.content4 .height_bg{
	height: 152px;
}
.content4 .bg_text:hover > .height_bg .border_radius{
	background: rgb(222, 87, 87);
}
.content4 .bg_image{
	background-image: url(img/copy.png); 
	width: 126px; 
	height: 121px; 
	margin: 0 auto;
}
.content4 .bg_image1{
	background-image: url(img/copy3.png); 
	width: 126px; 
	height: 121px; 
	margin: 0 auto;
}
.content4 .bg_image2{
	background-image: url(img/100%copy.png);
	width: 126px; 
	height: 121px; 
	margin: 0 auto;
}
.content4 .bg_image3{
	background-image: url(img/copy1.png);
	width: 126px; 
	height: 121px; 
	margin: 0 auto;
}
.content4 .bg_image4{
	background-image: url(img/copy2.png);
	width: 126px; 
	height: 121px; 
	margin: 0 auto;
}
.content4 .border_radius{
	border-radius: 25px; 
	background: rgb(103, 114, 129); 
	height: 32px; 
	width: 32px; 
	position: relative; 
	z-index: 10; 
	font-size: 26px; 
	color: rgb(255, 255, 255); 
	top: 107px;
}
.content4 .text{
	font-size: 15px;
}
.content4 .bg_rectangle{
	//background: url(img/rectangle.png);
	border: 5px solid #dde6e7;
	height: 153px; 
	width: 827px; 
	//padding-top: 40px; 
	padding-left: 38px;
	position: absolute;
	z-index: 10;
	background-color: white;
	display: none;
}
.content4 .bg_rectangle_sub1 {
	margin-left: -200px;
}
.content4 .bg_rectangle_sub2 {
	margin-left: -520px;
}
.content4 .height_text{
	height: 46px;
}
.content4 .bg_width{
	width: 15px; 
	float: left;
}
.content4 .bg{
	background-color: rgb(166, 0, 21); 
	border-radius: 25px; 
	height: 6px; 
	width: 6px; 
	margin-top: 33px;
}
.content4 .bg1{
	background-color: rgb(166, 0, 21); 
	border-radius: 25px; 
	height: 6px; 
	width: 6px; 
	margin-top: 8px;
}
.content4 .text_1{
	font-size: 13px; 
	margin-top: 25px; 
	float: left;
}
.content4 .text_2{
	font-size: 13px; 
	float: left;
}
.content4 .text_3{
	font-size: 14px; 
	margin-left: 15px; 
	float: left;
}
.content4 .height_text1{
	height: 20px;
}
.content5 .big_text{
	height: 50px; 
	font-size: 28px;
}
.content5 .bg_img{
	background-image: url(img/avto.png); 
	background-size: cover; 
	height: 366px;
	overflow: hidden;
}
.content5 .bg_img:hover > .bg{
	display:block;
}
.content5 .bg{
	background-color: rgb(206, 213, 215); 
	height: 366px; 
	padding-left: 16px; 
	padding-top: 19px; 
	margin: 0px; 
	display: none;
}
.content5 .height_img_text{
	height: 83px;
}
.content5 .width_img{
	width: 77px; 
	float: left;
}
.content5 .text{
	font-size: 21px; 
	margin-top: 5px; 
	float: left;
}
.content5 .text1{
	font-size: 14px; 
	color: rgb(59, 59, 59);
}
.content5 .image{
	text-align: center; 
	margin-top: 100px;
}
.content5 .bg_img1{
	background-image: url(img/poezd.png); 
	background-size: cover; 
	height: 366px;
	overflow: hidden;
}
.content5 .bg_img1:hover > .bg{
	display:block;
}
.content5 .bg_img2{
	background-image: url(img/plain1.png); 
	background-size: cover; 
	height: 366px;
	overflow: hidden;
}
.content5 .bg_img2:hover > .bg{
	display:block;
}
.content5 .bg_img3{
	background-image: url(img/ship1.png); 
	background-size: cover; 
	height: 366px;
	overflow: hidden;
}
.content5 .bg_img3:hover > .bg{
	display:block;
}
.big_text{
	font-size: 28px; 
	margin-top: 67px;
}
.content6{
	background-image: url(img/box.png); 
	margin-top: 32px; 
	height: 429px;
}
.content6 .small_block{
	margin-top: 87px; 
	text-align: center;
}
.content6 .text{
	font-size: 25px; 
	color: rgb(255, 255, 255); 
	margin-top: 43px;
}
.content6 .text_down{
	font-size: 15px; 
	color: rgb(183, 180, 180);
}
.content7{
	font-size: 28px; 
	margin-top: 42px;
}
.content7 .img{
	margin-left: 35px;
}
.content7 .text{
	margin-left: 7px; 
	font-size: 15px;
}
.content7 .big_block{
	margin-top: 57px; 
	text-align: center;
}
.content7 .big_text{
	font-size: 30px;
}
.content7 .text_down{
	font-size: 15px; 
	color: rgb(126, 126, 126);
}
.content7 .block_button{
	text-align: center; 
	margin-top: 33px;
}
.content7 .button{
	background-color: rgb(166, 0, 21); 
	border-radius: 25px; 
	border: 0; 
	color: white; 
	font-size: 15px; 
	height: 47px; 
	width: 326px; 
	padding: 10px;
}
.content7 .button:hover{
	background-color: rgb(136, 34, 34); 
}
.content8{
	margin-top: 49px;
}
.content8 .background_1{
	background-color: rgb(206, 213, 215); 
	height: 620px; 
}
.content8 .big_block{
	margin-right: 0; 
	margin-left: 0; 
	padding-left: 0; 
	padding-right: 0;
}
.content8 .small_block{
	max-width: 328px; 
	margin: 0 auto; 
	margin-top: 44px;
}
.content8 .margin_top{
	margin-top: 12px;
}
.content8 .text{
	background-color: rgb(161, 172, 175); 
	border-radius: 25px; 
	height: 48px; 
	width: 48px; 
	font-size: 35px; 
	color: white; 
	padding-left: 5px; 
	display: inline-block;
}
.content8 .display_block{
	display: inline-block;
}
.content8 .text_month{
	font-size: 20px; 
	color: rgb(105, 105, 105);
}
.content8 .text_time{
	font-size: 15px; 
	color: rgb(125, 125, 125);
}
.content8 .text_1{
	margin-top: 15px; 
	font-size: 25px;
}
.content8 .text_2{
	font-size: 15px; 
	color: rgb(100, 103, 104);
}
.content8 .blue_button{
	background-color: rgb(94, 102, 121); 
	border-radius: 25px; 
	border: 0; 
	height: 32px; 
	width: 32px; 
	float: right;
}
.content8 .blue_button:hover{
	background-color: rgb(52, 76, 132); 
}
.content8 .background{
	background-color: rgb(234, 234, 234); 
	height: 620px; 
}
.content8 .background1{
	background-color: rgb(234, 234, 234); 
	height: 620px; 
	margin-left: 0;
}
.content8 .text_3{
	margin-top: 25px; 
	font-size: 15px; 
	color: rgb(131, 131, 131);
}
.content8 .button{
	border: 1px solid grey; 
	border-radius: 25px; 
	height: 25px; 
	width: 25px; 
	float: right;
	padding-top: 0px;
    padding-left: 7px;
}
.content8 .button:hover{
	background: #a2aece;
}
.content8 .text_4{
	margin-top: 10px; 
	font-size: 15px; 
	color: rgb(131, 131, 131);
}
.content8 .bg_button{
	background-color: rgb(94, 102, 121); 
	border-radius: 25px; 
	border: 0; 
	height: 46px; 
	width: 171px; 
	color: white; 
	font-size: 16px; 
	float: right; 
	margin-top: 35px;
}
.content8 .bg_button:hover{
	background-color: rgb(65, 90, 123); 
}
.content9{
	font-size: 28px; 
	margin-top: 42px;
}
.content9 .text{
	color: rgb(79, 87, 88); 
	font-size: 16px; 
	margin-top: 74px;
}
.content9 .button{
	background-color: rgb(166, 0, 21); 
	border-radius: 25px;
	border: 0; 
	height: 46px; 
	width: 171px; 
	color: white; 
	font-size: 16px; 
	margin-top: 53px;
}
.content9 .button:hover{
	background-color: rgb(136, 34, 34); 
}
.content10{
	margin-top: 37px;
}
.content10 .button_click{
	border: 1px solid rgb(153, 153, 153); 
	background-color: white;
	border-radius: 25px;
	height: 50px; 
	width: 50px; 
	float: right; 
	margin-right: 23px; 
	margin-top: 80px;
}
.content10 .background_text{
	background-color: rgb(234, 234, 234); 
	color: rgb(102, 102, 102); 
	padding: 14px; 
	display: inline-block; 
	text-align: justify;
}
.content10 .img_text{
	font-size: 18px; 
	color: black;
}
.content10 .button_radius{
	height: 32px; 
	width: 32px; 
	background-color: rgb(94, 102, 121); 
	border-radius: 16px; 
	border: 0; 
	float: right;
}
.content10 .button_radius:hover{ 
	background-color: rgb(65, 96, 138); 
}

.content10 .background_text1{
	background-color: rgb(206, 213, 215); 
	color: rgb(102, 102, 102); 
	padding: 14px; display: 
	inline-block; 
	text-align: justify;
}
.content10 .button_click1{
	border: 1px solid rgb(153, 153, 153); 
	background-color: white; 
	border-radius: 25px; 
	height: 50px; 
	width: 50px; 
	float: left; 
	margin-left: 23px; 
	margin-top: 80px;
}
.grey_button{
	background-color: rgb(103, 114, 129); 
	border-radius: 25px; 
	border: 0; 
	height: 46px; 
	width: 171px; 
	color: white; 
	font-size: 16px; 
	margin-top: 35px;
}
.grey_button:hover{
	background-color: rgb(65, 90, 123); 
}
.content11{
	margin-top: 60px;
}
.content11 .background{
	background-image: url(img/work.png); 
	background-size: cover; 
	height: 342px; 
	color: white; 
	text-align: center; 
	font-size: 35px;
}
.content11 .bg_block{
	margin-top: 112px;
}
.content11 .margin_button{
	margin-top: 41px;
}
.content11 .button1{
	background-color: rgb(206, 213, 215); 
	border-radius: 25px; 
	border: 0; 
	height: 47px; 
	width: 224px; 
	font-size: 16px; 
	color: black; 
	text-decoration: underline; 
	padding: 3px;
}
.content11 .button1:hover{
	background-color: rgb(144, 195, 210); 
}
.content11 .button2{
	background-color: rgb(166, 0, 21); 
	border-radius: 25px; 
	border: 0; 
	height: 47px; 
	width: 224px; 
	font-size: 16px; 
	text-decoration: underline; 
	padding: 3px;
}
.content11 .button2:hover{
	background-color: rgb(103, 34, 42); 
}
.content11 .button3{
	background-color: rgb(94, 102, 121); 
	border-radius: 25px; 
	border: 0; 
	height: 47px; 
	width: 224px; 
	font-size: 16px; 
	text-decoration: underline; 
	padding: 3px;
}
.content11 .button3:hover{
	background-color: rgb(35, 45, 70); 
}
.footer1{
	background-color: rgb(103, 114, 129); 
	min-height: 350px;
}
.footer1 .block{
	margin-top: 40px;
}
.footer1 .text{
	color: rgb(180, 192, 208); 
	text-decoration: underline;
}
.footer1 .height_block{
	height: 55px;
}
.footer1 .select{
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
	background: transparent;
	text-decoration: underline; 
	border: 0; 
	color: rgb(180, 192, 208); 
	width: 100px;
}
.footer1 .styled-select{
	overflow: hidden;
	background: url(img/select_arrow_white.png) no-repeat right transparent;
	text-decoration: underline; 
	margin-left: 20px; 
	border: 0; 
	color: rgb(180, 192, 208); 
	width: 100px;
	display: inline-block;
}

.footer1 .height_block1{
	height: 62px;
}
.footer1 .img{
	float: left;
}
.footer1 .text1{
	color: rgb(180, 192, 208); 
	display: inline-block; 
	margin-left: 20px; 
	float: left;
}
.footer1 .button{
	background-color: rgb(103, 114, 129); 
	border: 2px solid rgb(192, 202, 214); 
	border-radius: 25px; 
	height: 40px; 
	width: 230px; 
	color: rgb(238, 239, 240); 
	font-size: 13px;
}
.footer1 .button:hover{
	background-color: rgb(102, 119, 142); 
}
.footer1 .image_block{
	margin-top: 38px; 
	margin-left: 20px;
}
.footer1 .img1{
	margin-left: 5px;
}
.footer1 .text2{
	color: rgb(180, 192, 208); 
	font-size: 13px; 
	margin-top: 10px; 
	margin-left: -30px;
}
.footer1 .input{
	background-color: rgb(103, 114, 129); 
	border: 2px solid rgb(192, 202, 214); 
	border-radius: 25px; 
	height: 40px; 
	width: 100%; 
	color: rgb(180, 192, 208); 
	font-size: 13px; 
	padding-left: 15px;
}
.footer1 .input:hover{
	background-color: rgb(102, 119, 142); 
}
::-webkit-input-placeholder {color:rgb(180, 192, 208);}
::-moz-placeholder          {color:rgb(180, 192, 208);}/* Firefox 19+ */
:-moz-placeholder           {color:rgb(180, 192, 208);}/* Firefox 18- */
:-ms-input-placeholder      {color:rgb(180, 192, 208);}
.footer1 .button1{
	background-color: rgb(103, 114, 129); 
	border: 2px solid rgb(192, 202, 214); 
	border-radius: 25px; 
	height: 42px; 
	width: 192px; 
	color: rgb(180, 192, 208); 
	font-size: 13px; 
	margin-top: 17px;
}
.footer1 .button1:hover{
	background-color: rgb(102, 119, 142); 
}
.footer1 .text3{
	color: rgb(180, 192, 208); 
	font-size: 13px; 
	margin-top: 22px; 
	width: 110px; 
	float: right;
}
.footer1 .img_block{
	margin-top: 18px; 
	width: 126px; 
	float: right;
}
.footer1 .img2{
	margin-left: 10px;
}
.footer1 .text_img{
	margin-top: 82px;  
	width: 220px; 
	float: right;
}
.footer1 .text4{
	color: rgb(180, 192, 208); 
	font-size: 13px;
}
